@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container jumbotron">
    <h1 class="display-4" style="margin-left: 1.5em;">@Umbraco.Field("articleTitle")</h1>
</div>
<div class='container'>
    <div class="row">
            <div class="col"style="padding: 5em;">
                <p>@Umbraco.Field("articleContent")</p>
            </div>
    </div>
</div>    