@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<h1 class="display-4">@Umbraco.Field("projectsTitle")</h1>

@Umbraco.RenderMacro("listProject")